.react-tabs [role=tablist] {
	border-bottom: 1px solid var(--border-color);
	margin: 0;
}

.ReactTabs__Tab .ReactTabs__Tab--selected {
	border-bottom: 3px solid var(--accent-color);
	font-size: 14px;
	color: var(--accent-color);
	font-weight: 600;
}


.react-tabs [role=tab][aria-selected=true] {
	background: none;
}


.react-tabs [role=tab] {
	cursor: pointer;
	background: none;
	border: none;
	font-size: 14px;
	color: var(--text-primary);
	font-weight: 600;
	padding: 0 0 6px 0;
	margin-right: 25px;
}



.react-tabs [role=tab][aria-selected=true] {
	font-size: 14px;
	color: var(--accent-color);
	font-weight: 600;
}



.react-tabs [role=tab][aria-selected=true]:after {
	content: "";
	position: absolute;
	height: 3px;
	left: 0;
	right: 0;
	bottom: -1px;
	background: var(--accent-color);
}


.react-tabs [role=tabpanel] {
	margin-top: 50px;
	font-size: 14px;
}

.react-tabs [role=tab]:focus {
	/*border-color: #00a7db;*/
	outline: none;
}

.react-tabs [role=tab]:focus:after {
	content: "";
	position: absolute;
	height: 3px;
	left: 0;
	right: 0;
	bottom: -1px;
	/*background: #00a7db;*/
}

.react-tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.react-tabs ul li {
	position: relative;
	display: inline-block;
	padding-left: 0;
}


.react-tabs ul li.disabled {
	pointer-events: none;
	color: var(--text-disabled);
}


.smartpad-container ul li,
.cloud-container ul li,
.support-container ul li {
	margin-bottom: 25px;
	clear: both;
	overflow: hidden;
	width: 100%;
}


.smartpad-container ul li span.spad-left,
.cloud-container ul li span.cloud-left,
.support-container ul li span.cloud-left {
	float: left;
	color: var(--text-secondary);
	font-weight: 400;
}

.smartpad-container ul li span.spad-right,
.cloud-container ul li span.cloud-right,
.support-container ul li span.cloud-right {
	float: right;
	color: var(--text-primary);
	font-weight: 600;
}


.smartpad-container .device-orientation {
	margin-top: 35px;
	margin-bottom: 35px;
}

.device-orientation a {
	font-size: 14px;
	color: #00A7DB;
	font-weight: 600;
	display: block;
	margin: 0 0 25px 0;
	line-height: 18px;
}

.pair>a {
	font-size: 14px;
	color: #00A7DB;
	font-weight: 600;
	display: block;
	line-height: 18px;
}

.smart-pair a {
	font-size: 14px;
	color: #00A7DB;
	font-weight: 600;
	line-height: 18px;
	display: inline-block;
}


.smartpad-container.not-connected>span {
	display: inline-block;
	margin-bottom: 25px;
	color: var(--text-secondary);
	font-size: 14px;
}


.cloud-container .cloud-progress {
	display: block;
	clear: both;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.cloud-container progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
}


.cloud-container progress[value]::-webkit-progress-bar {
	background-color: var(--border-color);
	border-radius: 8px;
}



.cloud-container progress[value]::-webkit-progress-value {
	background-color: var(--accent-color);
	border-radius: 8px;
}


.cloud-container ul li span.lang-select,
.support-container ul li span.lang-select {
	width: auto;
	min-width: 95px;
	text-align: right;
}

.lang-select .lang {
	font-size: 14px !important;
}

.react-tabs [role=tab]:focus {
	outline: none;
	box-shadow: none;
	border-color: none;
}

.device-orientation .spad-right {
	height: 28px;
	width: 48px;
}


.ink-blue,
.cloud-container ul li span.ink-blue,
.support-container ul li span.ink-blue a {
	color: var(--accent-color);
}


.inkspace-about-logo svg {
	display: block;
	margin: 0 auto;
}

.inkspace-about-logo {
	padding: 35px 0 85px 0;
}

.about-container {}


.dialog-content .about-container h1 {
	font-size: 25px;
	font-weight: 400;
	color: var(--text-primary);
	margin: 0 0 16px 0;
	padding: 0;
}


.dialog-content .about-container p {
	font-size: 12px;
}


.about-container p {
	font-size: 15px;
	font-weight: 400;
	color: var(--text-secondary);
	line-height: 25px;
	padding: 0;
	margin: 0;
}


li.has-select-list {
	overflow: visible !important;
	line-height: 36px;
}